#idIndex {
  background-image:url('img_fundo_index.jpg');
  background-repeat: repeat; /* Impede que a imagem se repita */
  background-position: center; /* Centraliza a imagem */
  background-size: cover; /* Cobre toda a 치rea, cortando se necess치rio */
}

.container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('sua-imagem.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  padding: 50px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; }

  #idVendas {
  background-image:url('img_fundo_vendas');
  background-repeat: repeat; /* Impede que a imagem se repita */
  background-position: center; /* Centraliza a imagem */
  background-size: cover; /* Cobre toda a 치rea, cortando se necess치rio */
}